<div class="sidebar">
  <p class="logo">DOSM</p>
  <a routerLink="/chart" routerLinkActive="active" placement="right" ngbTooltip="Chart" tooltipClass="custom-tooltip"
     container="body">
    <i class="fas fa-chart-line"></i>
  </a>
  <a routerLink="/realtime" routerLinkActive="active" placement="right" ngbTooltip="Real Time Chart" tooltipClass="custom-tooltip"
     container="body">
    <i class="fab fa-creative-commons-sampling"></i>
  </a>
  <a routerLink="#" routerLinkActive="active" placement="right" ngbTooltip="More" tooltipClass="custom-tooltip"
     container="body">
    <i class="fas fa-ellipsis-h"></i>
  </a>
  <div class="bottom-menu">
    <a href="#" routerLinkActive="active" placement="right" ngbTooltip="Help" tooltipClass="custom-tooltip"
       container="body">
      <i class="fas fa-question-circle"></i>
    </a>
    <a href="#">
      <i class="fas fa-user"></i>
    </a>
  </div>
</div>
