<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <highcharts-chart
                id="container"
                [Highcharts]="HighCharts"
                [constructorType]="chartConstructor"
                [options]="chartOptions"
                [(update)]="updateFlag"
                [oneToOne]="true"
                style="width: 100%; height: 300px; display: block;"
        >
        </highcharts-chart>
        <div class="button-container" style="text-align: right; margin-top: -35px">
            <button class="btn btn-primary btn-icon" (click)="onBtnClick()">
                <i class="fas fa-play icon"></i>
                Start
            </button>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div *ngFor="let value of chartData2">
                    {{value.x}}, {{value.y}}
                </div>
            </div>
        </div>
    </div>
</div>

