button .icon {
    position: absolute;
    height: 100%;
    border-radius: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    text-align: center;
    margin: 0;
    width: 2.57142857em;
    background-color: rgba(0,0,0,.05);
    box-shadow: -1px 0 0 0 transparent inset;
    top: 0;
    left: 0;
    line-height: 2.3;
    color: white;
}
